html {
    position: relative;
    min-height: 100%;
}

body {
    -ms-text-autospace: ideograph-alpha;
    font-size: 15px;
    margin-top: 50px;
    line-height: 160%;
}

    body > .container {
        background: #fff;
    }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, code, kbd, pre, samp {
    font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', Osaka, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.btn {
    font-size: 15px;
}

::selection {
    background: #3BAFDA;
}


h2 {
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

hr {
    border-top: 1px dashed #AAB2BD;
}

body + .container {
    padding: 50px 15px 20px;
}

body >.container {
    padding-top: 30px;
}

/*body > .container-fluid {
    padding: 50px 15px 20px;
}

.container > .row {
    margin-top: 30px;
}*/

mark, .mark {
    background-color: #ffc;
}

table.table > tbody > tr:first-child > td {
    border-top-width: 0;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.edit-menu-bar {
    margin-top: 50px;
}


/* Forms */
input,
select,
textarea {
    max-width: 280px;
}

.input-group.date {
    max-width: 280px;
}

.input-group.bootstrap-timepicker {
    max-width: 280px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-horizontal .control-label {
    margin-bottom: 5px;
}

.form-group input[type='submit'] {
    margin: 15px 0;
    min-width: 100px;
}

.form-control {
    margin-bottom: 5px;
    margin-right: 5px;
}

#StartTime, #EndTime {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.btn-3rdparty {
    color: #fff;
    border-width: 0;
    width: 150px;
    margin-bottom: 6px;
}

    .btn-3rdparty:hover {
        color: #fff;
    }

button#Google {
    background-color: #DF4B31;
}

    button#Google:hover {
        background-color: #B9341D;
    }

button#Facebook {
    background-color: #4963A4;
}

    button#Facebook:hover {
        background-color: #3A4F82;
    }

button#Twitter {
    background-color: #55ACEE;
}

    button#Twitter:hover {
        background-color: #178DE8;
    }


/* Misc */
.media-body > h3 {
    margin-top: 4px;
    margin-bottom: 10px;
}

.media > div {
    line-height: 160%;
}

.media {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
}



h1 + .media { /* community, event details */
    padding: 0;
    margin-bottom: 30px;
}


.panel-body .media {
    padding: 0;
}

.icon24 {
    width: 24px;
    height: 24px;
}

.link-space {
    margin-top: 20px;
    margin-left: 20px;
}

.badge {
    vertical-align: middle;
}

/* Social buttons */

.social-buttons {
    margin-top: 50px;
}

    .social-buttons .list-inline > li {
        padding: 0;
        vertical-align: top;
    }

    .social-buttons + .edit-menu-bar {
        margin-top: 10px;
    }

/* navbar */

.navbar .navbar-toggle {
    position: relative;
    background-color: #5D9CEC;
    border-color: #5D9CEC;
}

    .navbar .navbar-toggle:hover,
    .navbar .navbar-toggle:focus {
        background-color: #4A89DC;
        border-color: #4A89DC;
    }

    .navbar .navbar-toggle .icon-bar {
        background-color: rgba(255, 255, 255, .9);
    }


@media (max-width: 992px) {
    .navbar .navbar-brand {
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    div.date {
        margin-bottom: 5px;
    }
}

/* Footer */

.footer {
    position: relative;
    width: 100%;
    padding: 0 0 20px;
    margin-top: 40px;
}
