html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 400px;*/ /* for footer height*/
    /*background-color: #eee;*/
    -ms-text-autospace: ideograph-alpha;
    font-size: 15px;
    margin-top: 50px;
    line-height: 160%;
}

    body > .container {
        background: #fff;
    }

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, code, kbd, pre, samp {
    font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', Osaka, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.btn {
    font-size: 15px;
}

::selection {
    background: #3BAFDA;
}


h2 {
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
}

hr {
    border-top: 1px dashed #AAB2BD;
}

body + .container {
    padding: 50px 15px 20px;
}

body > .container-fluid {
    padding: 50px 15px 20px;
}

.container > .row {
    margin-top: 30px;
}

mark, .mark {
    background-color: #ffc;
}

table.table > tbody > tr:first-child > td {
    border-top-width:0;
}

/* Forms */
input,
select,
textarea {
    max-width: 280px;
}

.input-group.date {
    max-width: 280px;
}

.input-group.bootstrap-timepicker {
    max-width: 280px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-horizontal .control-label {
    margin-bottom: 5px;
}

.form-group input[type='submit'] {
    margin: 15px 0;
    min-width: 100px;
}

.form-control {
    margin-bottom: 5px;
    margin-right: 5px;
}

.btn-3rdparty {
    color: #fff;
    border-width: 0;
    width: 150px;
    margin-bottom: 6px;
}

    .btn-3rdparty:hover {
        color: #fff;
    }

button#Google {
    background-color: #DF4B31;
}

    button#Google:hover {
        background-color: #B9341D;
    }

button#Facebook {
    background-color: #4963A4;
}

    button#Facebook:hover {
        background-color: #3A4F82;
    }

button#Twitter {
    background-color: #55ACEE;
}

    button#Twitter:hover {
        background-color: #178DE8;
    }

/* Slider */
/* top slider ありの時の h1 margin-top なし */
.top-slider + .row h1 {
    margin-top: 0;
}

.sidebar {
    /*margin-top: 30px;*/
}

.top-slider + .row .sidebar {
    margin-top: 0;
}

/* Misc */
.media-body > h3 {
    margin-top: 4px;
    margin-bottom: 10px;
}

.media > div {
    line-height: 160%;
}

.media {
    border-radius: 4px;
    padding: 10px;
}

/*.media:hover {
        background-color: #fff;
    }*/

h1 + .media { /* community, event details */
    padding: 0;
    margin-bottom: 30px;
}

/*h1 + .media:hover {
        background-color: transparent;
        padding: 0;
    }*/

.panel-body .media {
    padding: 0;
}

.icon24 {
    width: 24px;
    height: 24px;
}

.link-space {
    margin-top: 20px;
    margin-left: 20px;
}

/*.text-primary, .text-danger {
    color: #F05080;
}*/

.badge {
    vertical-align: middle;
}

/*.dropdown-menu li a {
    display: block;
    color: #d94e8c;
}

    .dropdown-menu li a:focus,
    .dropdown-menu li a:hover {
        color: #fff;
        background-color: #F05080;
    }*/


/* Social buttons */

.social-buttons {
    margin-top: 50px;
}

    .social-buttons .list-inline > li {
        padding: 0;
        vertical-align: top;
    }

    /* */
.edit-menu-bar {
    margin-top: 50px;
}
.social-buttons + .edit-menu-bar {
    margin-top: 10px;
}

/* navbar */
.navbar-custom {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    z-index: 2000;
}

    .navbar-custom .nav li a {
        display: block;
        color: #d94e8c;
    }

        .navbar-custom .nav li a:focus,
        .navbar-custom .nav li a:hover {
            color: #fff;
            background-color: #F05080;
        }

    /*.navbar-custom .nav li a:active,
        .navbar-custom .nav li a.current {
            border-bottom: 3px solid #d94e8c;
        }*/

    .navbar-custom .navbar-toggle {
        position: relative;
        background-color: #d94e8c;
        border-color: #d94e8c;
    }

        .navbar-custom .navbar-toggle:hover,
        .navbar-custom .navbar-toggle:focus {
            background-color: #F05080;
        }

        .navbar-custom .navbar-toggle .icon-bar {
            background-color: rgba(255, 255, 255, .9);
        }
/*.navbar-custom .navbar-brand {
        padding: 5px 15px;
        opacity: .7;
        filter: alpha(opacity=70);
        -moz-transition: opacity .4s ease-in-out;
        -o-transition: opacity .4s ease-in-out;
        -webkit-transition: opacity .4s ease-in-out;
        transition: opacity .4s ease-in-out;
    }
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:active {
        opacity: 1;
        filter: alpha(opacity=100);
    }*/

.navbar-default .navbar-collapse {
    border-color: #e7e7e7;
}

@media (max-width: 992px) {
    .navbar-custom .navbar-brand {
        /*width: 63px;*/
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    .navbar-custom {
        /*position: relative;
        top: 0;*/
    }

        .navbar-custom .navbar-nav > li > a:hover,
        .navbar-custom .navbar-nav > li > a:focus {
            color: #fff;
            background-color: #F05080;
        }
}

/* Footer */

.footer {
    position: relative;
    width: 100%;
    padding: 0 0 20px;
    margin-top: 40px;
}
