<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="TwitterConsumerKey" value="" />
  <add key="TwitterConsumerSecret" value="" />
  <add key="FacebookAppId" value="" />
  <add key="FacebookAppSecret" value="" />
  <add key="GoogleClientId" value="" />
  <add key="GoogleClientSecret" value="" />
  <add key="MailAccount" value="" />
  <add key="MailPassword" value="" />
</appSettings>
